body{
    padding:0 px;
    margin:0px;
}
.board{
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
  
}
.row{
    display: flex;
}
.perimeter{
    border: 10px solid blue;
    background-color: blue;
}
.location{
    height:75px;
    width:75px;
   
    margin:3px;
    border-radius: 50%;
    background-color: white;
}
.drop{
    height: 75px;
    width:75px;
    background-color: gray;
    margin:3px;   
}
#title{
    color:white;
    font-size: 24px;
    font-weight: bold;
    
}
#reset{
    background-color: blue;
    color:white;
    width:30vw;
    font-size:24px;
    
}
.container{
    display: flex;
    justify-content: center;
    
}
#outcome{
    display: flex;
    justify-content: center;
    margin:20px;
    font-size: 24px;
    
    padding: 8px;
}

nav#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blue;
    margin:0px;
    padding: 10px;
    height: 60px;
}
button.navOption{
    margin:10px;
    background-color:blue;
    color:white;
    font-size: 18px;
    border: none;
    

}

#resetContainer{
    display: flex;
    justify-content: center;
    margin:10px;
}