.board{
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
  
}.row{
    display: flex;
}
.perimeter{
    border: 10px solid blue;
    background-color: blue;
}
.location{
    height:50px;
    width:50px;
   
    margin:3px;
    border-radius: 50%;
    background-color: white;
}
.drop{
    height: 50px;
    width:50px;
    background-color: gray;
    margin:3px;   
}
#reset{
    background-color: aquamarine;
    color:black;
    height:40px;
    width:60px;
}
.container{
    display: flex;
    justify-content: center;
    outline:1px red solid;
}
#outcome{
    display: flex;
    justify-content: center;
    margin:20px;
    width:300px;
    border: 1px red solid;
}