body{
    padding:0 px;
    margin:0px;
}
.board{
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
  
}
.row{
    display: flex;
}
body{
    background-color: rgb(235, 220, 181);
}
.perimeter{
    border: 10px solid rgb(50,113,168);
    background-color: rgb(50,113,168);
}
.location{
    height:5vw;
    width:5vw;
   
    margin:3px;
    border-radius: 50%;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.drop{
    height: 5vw;
    width:5vw;
    background-color: gray;
    margin:3px;   
}

#title{
    color:white;
    font-size: 24px;
    font-weight: bold;
    
}
#reset{
    background-color: rgb(50,113,168);
    color:white;
    width:38.5vw;
    font-size:30px;
    
}
.container{
    display: flex;
    justify-content: center;
    
}
#outcome{
    display: flex;
    justify-content: center;
    margin:20px;
    font-size: 24px;
    
    padding: 8px;
}

nav#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(50,113,168);
    margin:0px;
    padding: 10px;
    height: 60px;
}
button.navOption{
    margin:10px;
    background-color:rgb(50,113,168);
    color:white;
    font-size: 18px;
    border: none;
    

}

#resetContainer{
    display: flex;
    justify-content: center;
    margin:10px;
}