label{
    font-size: 1.5rem;
}
.rememberContainer{
    display: flex;
    align-items: center;
    
}
.feature{
    font-size: 3rem;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    
}
#con4footer{
    width: 95vw;
    height: auto;
   
}
